/* BOX SIZING ska gälla för alla boxar utom de som har UNSET */
*, *::before, *::after {box-sizing: inherit}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#restaurants {
  padding:0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  
}

.cards {
  flex-direction: column;
  background-color: white;
  /* margin:40px; */
  width: 100%;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

li {
  list-style: none;
  margin: 0;
}

.image {
  object-position: center;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 400ms;
}

.image:hover {
  transform: scale(1.05);
}

/* Title*/
h1 {
  padding: 5px;
  color:rgb(238, 77, 77);
  font-family: 'McLaren', cursive;

}

/* Name*/
h2 {
  padding: 5px;

}

/* Price*/
h3 {
  padding: 5px;

}

/* Address*/
h4 {
  padding: 5px;
  color:grey;
  font-weight: 400;
}

/* Rating*/
h5 {
  padding: 5px;
}

h2, h3, h4, h5 {
margin:0;
}

/*MEDIA QUERIES*/

@media (min-width: 650px) {

.cards {
  flex-direction: column;
  background-color: white;
  margin:40px;
  width: 400px;
  align-content: center;
  justify-content: center;
}

li {
  list-style: none;
}

.image {
  object-position: center;
  width: 400px;
  height: 287px;
  object-fit: cover;
  transform: scale(1);
  transition: transform 400ms;
}

.image:hover {
  transform: scale(1.05);
}

/* Title*/
h1 {
  padding: 5px;
  margin-left:35px;

}

/* Name*/
h2 {
  padding: 5px;

}

/* Price*/
h3 {
  padding: 5px;

}

/* Address*/
h4 {
  padding: 5px;
}

/* Rating*/
h5 {
  padding: 5px;
}
}